altgraph==0.17
certifi==2021.5.30
charset-normalizer==2.0.4
colorama==0.4.4
future==0.18.2
idna==3.2
pefile==2021.5.24
pyinstaller==4.5.1
pyinstaller-hooks-contrib==2021.2
pywin32-ctypes==0.2.0
requests==2.26.0
tqdm==4.62.1
urllib3==1.26.6
eyed3
